* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial, sans-serif;
  color: #2F2F2F;
}

body {
  height: 100%;
  width: 100%;
  background: #FAF7F2;
}

.header-1 {
  font-family: "poppins";
  font-size: 64px;
  line-height: 1;
}