.hero {
  height: 600px;
  width: 100%;
  padding: 10px 40px;
  display: flex;
  align-items: center;

  border-bottom: 1px solid #d6d4d4;
}

.hero div {
  width: 50%;
}

.hero h1 {
  width: 16ch;
  margin-bottom: 32px; 
}

.hero div h1 span {
  font-family: "poppins";
  color: #6F4E37;
  width: 20ch;
}

.hero p {
  font-size: 16px;
  width: 48ch;
  margin-bottom: 32px;
  color: rgb(68, 70, 71);
}

.place-my-order {
  cursor: pointer;
  background: #C89F65;
  color: #fff;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  padding: 10px 18px;
}

.place-my-order:hover {
  background: #b7935d;
}

.learn-more {
  cursor: pointer;
  background: #3E2723;
  color: #fff;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  padding: 10px 18px;
  margin-left: 8px;
}

.learn-more:hover {
  background: #58362f;
}

.hero img {
  height: 500px;
  width: 50%;
  object-fit: cover;
  border-radius: 20px;
}